@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}


audio#musica {
    display: block;
    position: relative;
    left: 575px;
    top: 490px;
    width: 300px

}

iframe#filme { 
    display: block;
    position: relative;
    left: 85px;
    top: 30px;
    width: 440px;
    height: 300px;
}

h1#titulo {
    text-align: center;
    font-weight: 1000;
    font-style: inherit;
    margin-bottom: 40px;
}